<!DOCTYPE html>
<html lang="pt-BR">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Colheitadeira John Deere S790</title>
  <link rel="stylesheet" href="../../static/style.css" />
</head>


<body class="pagina-colheitadeira">
  <header class="top-header">
    <div class="logo">
      <img src="../../static/media/login/logo.png" alt="Logo" />
    </div>


    <div class="search-bar">
      <input type="text" placeholder="Buscar..." />
      <span class="search-icon">&#128269;</span>
    </div>


    <div class="icons">
      <a href="carrinho.html">
        <img src="../../static/media/login/carrinho.png" alt="Carrinho">
      </a>
      <a href="login_usuario.html">
        <img class="user-icon"
          src="../../static/media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png" alt="Entrar">
      </a>
    </div>
  </header>

  <main class="container-aluguel">
    <section class="top-section">
      <div class="produto">
        <div class="imagens">
          <div class="miniaturas">
            <img src="../../static/media/trator/colheitadera2.jpg" alt="Miniatura 1" />
            <img src="../../static/media/trator/colheitadeira-massey-ferguson-9895-2.webp" alt="Miniatura 2" />
            <img src="../../static/media/trator/A2S.jpg" alt="Miniatura 3" />
            <img src="../../static/media/trator/Captura de tela 2025-06-20 235637.png" alt="Miniatura 4" />
          </div>
          <div class="imagem-principal">
            <img src="../../static/media/trator/colheitadera2.jpg" alt="Colheitadeira principal" />
          </div>
        </div>


        <div class="detalhes">
          <h1>Colheitadeira <br> John Deere <strong>S790</strong></h1>
          <p class="preco">
            R$ 4.490,90 <span>Valor / Diário</span><br />
            <small>em 12x R$374,24</small>
          </p>

          <div class="botoes">
            <button class="alugar">Alugar agora</button>
            <button class="carrinho">Adicionar ao carrinho</button>
          </div>

          <p class="locado">Locado por <a href="#">Murilo Jochkeck</a></p>
        </div>
      </div>
    </section>


    <section class="descricao-avaliacao">
      <div class="descricao">
        <p><strong>Descrição:</strong> Colheitadeira de alto desempenho, ideal para grandes áreas agrícolas. Equipada
          com motor John Deere PowerTech™ de 625 cv, graneleiro com capacidade para até 14.100 litros e sistema de
          separação rotativo de 3,5 m, garante alta eficiência e baixa perda, mesmo em culturas de alta umidade.<br>
          Produtividade de até 75 toneladas/hora, com consumo médio de 1,2 a 1,6 L por tonelada colhida. Conta com
          tecnologias AutoTrac™, HarvestSmart™, JDLink™ e CommandCenter™. Plataforma Draper de até 45 pés.</p>
      </div>

      <div class="avaliacao-geral">
        <div class="nota">
          <span class="numero">5</span> de 5
          <div class="estrelas">★★★★★</div>
        </div>

        <div class="filtros">
          <button>Todos</button>
          <button>5 Estrelas</button>
          <button>4 Estrelas</button>
          <button>3 Estrelas</button>
          <button>2 Estrelas</button>
          <button>1 Estrela</button>
        </div>
      </div>
    </section>


    <section class="bloco-avaliacoes">
      <h2 class="titulo-avaliacoes">Avaliações</h2>


      <div class="avaliacoes">
        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="../../static/media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png"
              alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>


        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="../../static/media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png"
              alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos 2</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>


        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="../../static/media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png"
              alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos 3</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>
      </div>


      <div class="deixe-sua">
        <button>Deixe aqui você também sua avaliação!</button>
      </div>


      <div class="popup-avaliacao" id="popupAvaliacao">
        <h2>Selecione a quantidade de estrelas:</h2>
        <div class="estrelas" id="estrelas">
          <span data-value="1">★</span>
          <span data-value="2">★</span>
          <span data-value="3">★</span>
          <span data-value="4">★</span>
          <span data-value="5">★</span>
        </div>
        <button id="enviarAvaliacao">Enviar Avaliação</button>
      </div>

    </section>
  </main>

  <script src="../../static/js/aluguel.js"></script>

  <footer class="custom-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="../../static/media/login/logo.png" alt="Logo" />
      </div>
      <div class="footer-info">
        <div class="footer-contact">
          <strong>Informações de contato:</strong><br />
          (49) 99999-9999<br />
          <a href="mailto:Example@gmail.com">Example@gmail.com</a>
        </div>
      </div>
      <div class="footer-buttons">
        <button class="footer-btn">Fale conosco</button>
        <button class="footer-btn">Sobre nós</button>
      </div>
    </div>
    <hr class="footer-divider" />
    <div class="footer-copy">
      Copyright © 2025 – Todos os direitos estão reservados
    </div>
  </footer>
</body>

</html>