<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Colheitadeira John Deere S790</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body class="pagina-colheitadeira">
  <header class="top-header">
    <div class="logo">
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/login/logo.png') }}" alt="Logo"></a>
    </div>

    <div class="icons">
      <a href="{{ url_for('carrinho') }}">
        <img src="{{ url_for('static', filename='media/login/carrinho.png') }}" alt="Carrinho">
      </a>
      <a href="{{ url_for('login') }}">
        <img class="user-icon" src="{{ url_for('static', filename='media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png') }}"
          alt="Entrar">
      </a>
    </div>
  </header>


    <main class="container-aluguel">
      <section class="top-section">
        <div class="produto">
          <!-- Coluna esquerda: Miniaturas + Imagem principal -->
          <div class="imagens">
            <div class="imagens">
              <!-- Miniaturas -->
              <div class="miniaturas">
                  {% for img in maquina['imagens'] %}
                      <img src="{{ img }}" alt="Miniatura {{ loop.index }}">
                  {% endfor %}
              </div>

              <!-- Imagem principal -->
              <div class="imagem-principal">
                  {% if maquina['imagem'] %}
                      <img src="{{ maquina['imagem'] }}" alt="Imagem principal">
                  {% else %}
                      <p>Sem imagem</p>
                  {% endif %}
              </div>
          </div>

          <div class="detalhes">
            <h1>{{ maquina['equipamento'] }} <br> {{ maquina['modelo_maquina'] }} <strong>S790</strong></h1>
            <p class="preco">
              R$ {{ maquina['preco']|round(2) }} <span>Valor / {{ maquina['forma_aluguel'] }}</span><br />
            </p>
            <div class="botoes">
              <button class="alugar">Alugar agora</button>
              <button class="carrinho">Adicionar ao carrinho</button>
            </div>
            <p class="locado">Locado por <a href="#">{{ maquina['locador'] }}</a></p>
          </div>
        </div>
      </section>
  </main>



    <section class="descricao-avaliacao">
      <div class="descricao">
        <p><strong>Descrição:</strong> {{ maquina['descricao'] }}</p>
      </div>
    </section>


      <div class="avaliacao-geral">
        <div class="nota">
          <span class="numero">5</span> de 5
          <div class="estrelas">★★★★★</div>
        </div>

        <div class="filtros">
          <button>Todos</button>
          <button>5 Estrelas</button>
          <button>4 Estrelas</button>
          <button>3 Estrelas</button>
          <button>2 Estrelas</button>
          <button>1 Estrela</button>
        </div>
      </div>
    </section>


    <section class="bloco-avaliacoes">
      <h2 class="titulo-avaliacoes">Avaliações</h2>
    
      <div class="avaliacoes">
        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="{{ url_for('static', filename='media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png') }}" alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>
    
        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="{{ url_for('static', filename='media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png') }}" alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos 2</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>
    
        <div class="card-avaliacoes">
          <div class="usuario">
            <img src="{{ url_for('static', filename='media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png') }}" alt="Usuário" class="icone-usuario" />
            <span><strong>Carlinhos 3</strong></span>
          </div>
          <div class="estrelas">★★★★★</div>
        </div>
      </div>
    
      <div class="deixe-sua">
        <button>Deixe aqui você também sua avaliação!</button>
      </div>

    </section>
  </main>


  <script src="{{url_for('static', filename='js/aluguel.js') }}"> </script>

  {% block footer %}
  {% include 'pages/footer.html' %}
  {% endblock %}


</body>

</html>