<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastrar Máquinas</title>
  <link rel="stylesheet" href="static/maquinas.css"/>
</head>
<body>

  <div class="form-container">
    <h1>Cadastrar Máquinas</h1>
    <form>
      <input type="text" name="cep" placeholder="CEP" required />
      
      <div class="row">
        <input type="text" name="uf" placeholder="UF" required />
        <input type="text" name="numero" placeholder="Número" required />
      </div>
      
      <input type="text" name="cidade" placeholder="Cidade" required />
      <input type="text" name="rua" placeholder="Rua" required />
      <input type="text" name="referencia" placeholder="Referência" />

      <button type="submit">Avançar</button>
    </form>
  </div>

</body>
</html>
