<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#77a56f">
  <title>Meu Carrinho</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="top-header">
      <div class="logo">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/login/logo.png') }}" alt="Logo"></a>
      </div>
  
      <div class="icons"> 
          <a href="{{ url_for('login') }}">
              <img class="user-icon" src="{{ url_for('static', filename='media/login/7407992-pessoa-icone-cliente-simbolo-vetor-removebg-preview.png') }}" alt="Entrar">
          </a>
      </div>
  </header>
  <div class="main-content-carrinho">
    <div class="cart-container">
      <div class="cart-section">
        <div class="cart-card">
          <div class="cart-title">Meu carrinho</div>
          <div class="product-list">
            <div class="product-item">
              <img class="product-image" src=" img que precisar  " alt="Trator pequeno" /> <!--  fazer uma funcao em que puxa a img da maquina que o usuario selecionou -->
              <div class="product-info">
                <div class="product-name">nome da maquina</div>
              </div>
              <div class="quantity-control">
                <div class="quantity-buttons">
                  <button class="quantity-button" data-index="0" data-action="decrement">-</button>
                  <span class="quantity-value" id="quantity-0">1</span>
                  <button class="quantity-button" data-index="0" data-action="increment">+</button>
                </div>
                <span class="quantity-label">Horas</span>
              </div>
              <div class="product-price">
                1x R$ "valor que precisar depois eu mudo pra puxar o valor"<br />
                Total: <span class="price-total">"valor que precisar depois eu mudo pra puxar o valor"</span>
              </div>
            </div>
            <div class="product-item">
              <img class="product-image" src="foto que precisar" alt="Ensiladeira" />    <!--    fazer uma funcao em que puxa a img da maquina que o usuario selecionou -->
              <div class="product-info">
                <div class="product-name">nome da maquina</div>
              </div>
              <div class="quantity-control">
                <div class="quantity-buttons">
                  <button class="quantity-button" data-index="1" data-action="decrement">-</button>
                  <span class="quantity-value" id="quantity-1">1</span>
                  <button class="quantity-button" data-index="1" data-action="increment">+</button>
                </div>
                <span class="quantity-label">Horas</span>
              </div>
              <div class="product-price">
                1x R$ "valor que precisar depois eu mudo pra puxar o valor"<br /><!--    fazer uma funcao em que puxa o valor da maquina que o usuario selecionou -->
                Total: <span class="price-total">"valor que precisar depois eu mudo pra puxar o valor"</span><!--    fazer uma funcao em que puxa o valor da maquina que o usuario selecionou -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="summary-section">
        <div class="summary-title">Resumo</div>
        <div class="summary-row">
          <span>Subtotal</span>
          <span>R$ "valor que precisar"</span><!--    fazer uma funcao em que puxa o valor da maquina que o usuario selecionou -->
        </div>
        <div class="summary-row bold">
          <span>Total</span>
          <span>R$ "valor que precisar"</span><!--    fazer uma funcao em que puxa o valor das maquina(s) somada(s) que o usuario selecionou -->
        </div>
        <input class="coupon-input" placeholder="Cupom de desconto" />
        <button class="finish-button">Finalizar Pedido</button>
      </div>
    </div>
  </div>
   <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>
   

  {% block footer %}
  {% include 'pages/footer.html' %}
  {% endblock %}
</body>
</html> 