<footer class="custom-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/login/logo.png') }}" alt="Logo"></a>
        </div>
      </div>
      <div class="footer-info">
        <div class="footer-contact">
          <strong>Informações de contato:</strong><br />
          (49) 99999-9999<br />
          <a href="mailto:Example@gmail.com">Example@gmail.com</a>
        </div>
      </div>
      <div class="footer-buttons">
        <a class="footer-btn" href="{{ url_for('faleconosco') }}" target="_blank" rel="noopener noreferrer">Fale conosco</a>
        <a class="footer-btn" href="{{ url_for('sobrenos') }}" target="_blank" rel="noopener noreferrer">Sobre nós</a>
      </div>
    </div>
    <hr class="footer-divider" />
    <div class="footer-copy">
      Copyright © 2025 – Todos os direitos estão reservados
    </div>
  </footer>