<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="top-header">
    <div class="logo">
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/login/logo.png') }}" alt="Logo"></a>
    </div>
  </header>
  <h1>Sobre Nós</h1>

  <div>
  <main class="container">
    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/natalia.jpeg') }}" alt="Natalia Putti Martins">
        
        <a>Natalia Putti Martins</a>
      </div>
    </div>

    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/filipe.jpeg') }}" alt="Filipe Casadei">
        <a>Filipe Casadei</a>
      </div>
    </div>
      
    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/Mikael.jpeg') }}" alt="Mikael Ryan Prediger Costa">
        <a>Mikael Ryan Prediger Costa</a>
      </div>
    </div>

    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/pedro.jpeg') }}" alt="Pedro Henrique Renosto">
        <a>Pedro Henrique Renosto</a>
      </div>
    </div>

    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/luquinhas.jpeg') }}" alt="Lucas Ritta Munaretto Garbin">
        <a>Lucas Ritta Munaretto Garbin</a>
      </div>
    </div>

    <div class="card">
      <div id="fotos_geral">
        <img src="{{ url_for('static', filename='media/sobrenos/Murilo.jpeg') }}" alt="Murilo">
        <a>Murilo Vitor Jockheck</a>
      </div>
    </div>

  </div>

    



  </main>
</body>
</html>

</body>
</html>

