<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="top-header">
    <div class="logo">
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/login/logo.png') }}" alt="Logo"></a>
    </div>
  </header>

  <main class="container">
    <div class="card">
      <h1>Sobre Nós</h1>
      <p>
      nsei
      </p>
    </div>
  </main>
</body>
</html>

</body>
</html>

