body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-header {
  background-color: #77a56f;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto; 
}

/* Logo */
.logo img {
  height: 60px;
  margin-left: 50px; 
}

/* Barra de Pesquisa */
.search-bar {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
  max-width: 1000px; 
}

.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 40px; /* Espaçamento extra à esquerda e à direita */
  border: 2px solid black;
  border-radius: 25px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
}

/* Ícones (Carrinho e Pessoa) */
.icons {
  display: flex;
  align-items: center;
}

.icons img {
  height: 60px; /* Ajuste o tamanho dos ícones */
  cursor: pointer;
  margin-right: 50px;
}

.user-icon {
  border: 1px solid black;
  border-radius: 50%;
}
