<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentMac</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="top-header">
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="../static/media/login/logo.png" alt="Logo"></a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <span class="search-icon">&#128269;</span> 
        </div>

        <div class="icons">
            <a id="img_header" href="{{ url_for('carrinho') }}"><img src="../static/media/login/carrinho.png" alt="Carrinho"></a>
            <a href="{{ url_for('login') }}"><img src="../static/media/login/usuario.png" alt=""></a>
            {% if session.get('usuario_id') %}
                <a href="{{ url_for('logout') }}" class="logout-btn">Sair</a>
            {% endif %}
        </div>
    </header>

    <div class="home-links">
        {% if session.get('usuario_id') %}
            <span>Bem-vindo, {{ session.get('usuario_nome') }}!</span>
        {% else %}
            <span>Bem-vindo, visitante!</span>
        {% endif %}
        <a href="{{ url_for('cadastro') }}">Cadastro</a>
        <a href="{{ url_for('cadastro_maquinas') }}">Cadastro de Máquinas</a>
        <a href="{{ url_for('endereço_user') }}">Endereço</a>
        </div>

    <section class="carousel-section">
        <div class="section-header">
            <h2>Colheitadeiras</h2>
            <a href="{{ url_for('ver_mais_colheitadeira') }}" class="#">ver mais</a>
        </div>
        <div class="carousel">
            <button class="prev">&#10094;</button>
            <div class="carousel-track">
                    {% for maquina in maquinas if 'colheitadeira' in maquina['equipamento']|lower %}
                        {% if loop.index <= 6 %}
                        <div class="card-inicial">
                            <a href="{{ url_for('ver_maquina', maquina_id=maquina['id']) }}" class="card-link">
                                {% if maquina['imagens'] %}
                                    <img src="{{ url_for('static', filename=maquina['imagens'][0]) }}" 
                                        alt="{{ maquina['modelo_maquina'] }}">
                                {% endif %}
                                <p class="price">R${{ '%.2f'|format(maquina['preco']) }}
                                    <span>/{{ maquina['forma_aluguel'] }}</span></p>
                                <p class="desc">{{ maquina['modelo_maquina']}}</p>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
        </div>
            <button class="next">&#10095;</button>
        </div>
    </section>

    <section class="carousel-section">
        <div class="section-header">
            <h2>Tratores</h2>
            <a href="{{ url_for('ver_mais_trator') }}" class="#">ver mais</a>
        </div>
        <div class="carousel">
            <button class="prev">&#10094;</button>
            <div class="carousel-track">
                    {% for maquina in maquinas if 'trator' in maquina['equipamento']|lower %}
                        {% if loop.index <= 6 %}
                        <div class="card-inicial">
                            <a href="{{ url_for('ver_maquina', maquina_id=maquina['id']) }}" class="card-link">
                                {% if maquina['imagens'] %}
                                    <img src="{{ url_for('static', filename=maquina['imagens'][0]) }}" 
                                        alt="{{ maquina['modelo_maquina'] }}">
                                {% endif %}
                                <p class="price">R${{ '%.2f'|format(maquina['preco']) }}
                                    <span>/{{ maquina['forma_aluguel'] }}</span></p>
                                <p class="desc">{{ maquina['modelo_maquina']}}</p>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <button class="next">&#10095;</button>
        </div>
    </section>

    <section class="carousel-section">
        <div class="section-header">
            <h2>Promoções</h2>
        </div>
        <div class="carousel">
            <button class="prev">&#10094;</button>
            <div class="carousel-track">
                <div class="carousel-track">
                    {% for maquina in maquinas %}
                        {% if loop.index <= 6 %}
                        <div class="card-inicial">
                            <a href="{{ url_for('ver_maquina', maquina_id=maquina['id']) }}" class="card-link">
                                {% if maquina['imagens'] %}
                                    <img src="{{ url_for('static', filename=maquina['imagens'][0]) }}" 
                                        alt="{{ maquina['modelo_maquina'] }}">
                                {% endif %}
                                <p class="price">R${{ '%.2f'|format(maquina['preco']) }}<span>/{{ maquina['forma_aluguel'] }}</span></p>
                                <p class="desc">{{ maquina['modelo_maquina'] }}</p>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <button class="next">&#10095;</button>
        </div>
    </section>
    
    <section class="carousel-section">
        <div class="section-header">
            <h2>Mais Procurados</h2>
        </div>
        <div class="carousel">
            <button class="prev">&#10094;</button>
            <div class="carousel-track">
                {% for maquina in maquinas %}
                        {% if loop.index <= 6 %}
                        <div class="card-inicial">
                            <a href="{{ url_for('ver_maquina', maquina_id=maquina['id']) }}" class="card-link">
                                {% if maquina['imagens'] %}
                                    <img src="{{ url_for('static', filename=maquina['imagens'][0]) }}" 
                                        alt="{{ maquina['modelo_maquina'] }}">
                                {% endif %}
                                <p class="price">R${{ '%.2f'|format(maquina['preco']) }}<span>/{{ maquina['forma_aluguel'] }}</span></p>
                                <p class="desc">{{ maquina['modelo_maquina'] }}</p>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <button class="next">&#10095;</button>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/inicial.js') }}"></script>
    

    {% block footer %}
    {% include 'pages/footer.html' %}
    {% endblock %}
</body>
</html>