<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Agendamentos Máquinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="top-header">
        <div class="logo">
            <img src="media/login/logo.png" alt="Logo" />
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <span class="search-icon">&#128269;</span> 
        </div>

        <div class="icons">
            <a href="{{ url_for('carrinho') }}"><img src="./static/media/login/carrinho.png" alt="Carrinho"></a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </header>

    <div>
        <a href="{{ url_for('cadastro') }}">Cadastro</a>
        <a href="{{ url_for('aluguel') }}">Aluguel</a>
        <a href="{{ url_for('cadastro_maquinas') }}">Cadastro de Máquinas</a>
        <a href="{{ url_for('endereço_user') }}">Endereço</a>
    </div>

    <footer>
    </footer>

</body>
</html>
